html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  width: 100%;
  scroll-behavior: auto !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .navbar-brand {
  font-family: 'Share Tech', sans-serif !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar a {
  color: #eee;
}

.layout {
}

#nprogress .bar {
  background: #fff !important;
  min-height: 7px;
}

#nprogress .peg {
  box-shadow: none !important;
}

#nprogress .spinner-icon {
  border-top-color: #fff !important;
  border-left-color: #fff !important;
}


.emoji {
  width: 18px;
  margin: 0 2px;
}

/* START INDEX PAGE STYLES */

.index,
.user-details {
  background-attachment: fixed;
  background-color: #000;
  background-image:  linear-gradient(120deg, rgba(0,0,0,.8) 75%, rgba(170,66,27, .6) 100%), url('/images/bg-pattern-desaturated.png');
  color: #eee;
}

.index .focus-color,
.index .load-more,
.index a:hover,
.user-details a {
  color: #ff6831;
}


.index .no-avatar,
.index .spinner {
  background-color: #ff6831;
}

.index .load-more {
  border-color: #ff6831;
}

.index .bg-nav,
.user-details .bg-nav,
.index .sidebar,
.index footer {
  background-color: #000;
  background-image: url('/images/bg-pattern-desaturated.png'), linear-gradient(94deg, rgba(0,0,0,1) 5%, rgba(170,66,27, .85) 100%);

}

.index .col-stats {
  background: #000 url('/images/cristian-palmer-lk2XMnkdFiw-unsplash1920.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.index .card {
  background: linear-gradient(165deg, rgba(0,0,0, .8)  20%, rgba(0,0,0,.4) 100%);
  border: 1px solid  rgba(170,66,27, .7);
}

.index .shadow {
  box-shadow: 0 0.5rem 0.65rem rgb(204, 69, 47, .25) !important;
  transition: box-shadow 250ms ease-in-out;
}


.index .shadow.card:hover {
  box-shadow: 0 0.5rem 0.75rem rgb(204, 69, 47, .75) !important;
}

.index.animation .shadow  {
  box-shadow: 0 0.5rem 0.65rem rgb(204, 69, 47, 0) !important;
}

.index .banner {
  background: linear-gradient(0deg, rgba(0, 0, 0 , 1) 0%, rgba(0,0,0, .3) 70%, rgba(0,0,0, 0) 100%);
}


/* START TWEETS PAGE STYLES */

.tweets {
  background-attachment: fixed;
  background-color: #000;
  background-image: linear-gradient(120deg, rgba(0,28,40, .8) 75%, rgba(8,114,156, .6) 100%), url('/images/bg-pattern-desaturated.png');
  color: #eee;
}


.tweets .no-avatar,
.tweets .spinner {
  background-color: #028494;
}

.tweets .load-more {
  border-color: #028494;
}


.tweets .focus-color,
.tweets .load-more,
.tweets a:hover {
  color: #028494;
}


.tweets .bg-nav,
.tweets .sidebar,
.tweets footer {
  background-color: #000;
  background-image: url('/images/bg-pattern-desaturated.png'), linear-gradient(94deg, rgba(0,23,32 , 1) 10%, rgba(8,114,156, .85)  100%);
}

.tweets .col-stats {
  background: #000 url('/images/david-troeger-M8xxVih_V_U-unsplash1920.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.tweets .card {
  border: 1px solid  rgba(2,94,135, .7);
  background: linear-gradient(165deg, rgba(0,28,40,.65) 20%, rgba(0,28,40,.3) 100%);


}

.tweets .shadow {
  box-shadow: 0 0.5rem 0.65rem rgba(2,94,135, .25) !important;
  transition: box-shadow 250ms ease-in-out;
}

.tweets .shadow.card:hover  {
  box-shadow: 0 0.5rem 0.75rem rgba(2,94,135, .75)  !important;
}

.tweets.animation .shadow  {
  box-shadow: 0 0.5rem 0.65rem rgba(2,94,135, 0)  !important;
}

.tweets .banner {
  background: linear-gradient(0deg, rgba(0,23,32 , 1) 0%, rgba(0,28,40, .7) 70%, rgba(0,28,40, 0) 100%);
}

/* ABOUT  PAGE STYLES */

.about {
  background-attachment: fixed;
  background-color: #000;
  background-image: linear-gradient(120deg, rgba(0,0,0, .8) 75%, rgba(108,14,4, .85) 100%), url('/images/bg-pattern-desaturated.png');
  color: #eee;
}


.about .no-avatar {
  background-color: #ff7269;
}

.about .load-more {
  border-color: #ff7269;
}


.about .focus-color,
.about .load-more,
.about a:hover {
  color: #ff7269;
}

.about .bg-nav,
.about .sidebar,
.about footer {
  background-color: #000;
  background-image: url('/images/bg-pattern-desaturated.png'), linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(124,9,4, 1) 90%, rgba(227,26,18, .75) 100%);
}

.about .col-stats {
  background: #000 url('/images/kenrick-mills-OQ9JdFiSc2s-unsplash1920.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.about .card {
  border: 1px solid  rgba(255,114,105, .7);
  background: linear-gradient(165deg, rgba(0,0,0,.65) 20%, rgba(227,26,18,.3) 100%);
}

.about .shadow {
  box-shadow: 0 0.5rem 0.65rem rgba(255,114,105, .25) !important;
  transition: box-shadow 250ms ease-in-out;
}

.about .shadow.card:hover  {
  box-shadow: 0 0.5rem 0.75rem rgba(255,114,105, .75)  !important;
}

.about.animation .shadow  {
  box-shadow: 0 0.5rem 0.65rem rgba(255,114,105, 0)  !important;
}


.about .banner {
  background: linear-gradient(0deg, rgba(0,0,0 , 1) 0%, rgba(0,0,0, .7) 70%, rgba(0,28,40, 0) 100%);
}

/* COMMON STYLES */

.user-details {
  background-image:  linear-gradient(120deg, rgba(0,0,0,.6) 45%, rgba(170,66,27, .7) 100%), url('/images/bg-pattern-desaturated.png');
}

.user-details .modal-header,
.user-details .modal-body {
  background: transparent;
  border: 0;
}

.user-details a:hover {
  color: #eee;
}


.sidebar {
  min-height: 100vh;
  position: relative;
  left: 0;
  transition: left 450ms !important;
}

.animation .sidebar {
  left: -100rem;
}

.col-content > .row {
  max-height: 100vh;
  overflow-y: hidden;
  margin-bottom: 15px;
}

.col-stats {
  min-height: 60vh;
}


.col-stats {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-content: center;

  max-height: 100vh;
  opacity: 100;
  transform: scale(1) rotate(0deg);

  transition: opacity, transform 500ms ease-in-out;
}

.animation .col-stats {
  opacity: 0;
  transform: scale(0.1) rotate(45deg);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width:  100%;
  text-align: center;
}

.icon svg {
  stroke: #fff;
  width: 18px;
  height: auto;
}

.card {
  border-radius: 0;
  transition: all 500ms !important;
  transform: scale(1) translateX(0rem);
  cursor: pointer;
}



.animated-text {
  opacity: 100;
  transition: opacity 1.2s;
}

.animation .animated-text {
  opacity: 0;
}

.card:hover {
  /*transform: scale(1.08) translateX(-1rem);*/
}

.animation .card {
  transform: scale(0.01) !important;
}

.card-header {
  border: 0;
  border-color: #fff;
}

.card-header img {
  border-radius: 50%;
}

.card-header .user {
  color: #fff;
}


.standard-snippet div {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.65);
  position: relative;
}

.standard-snippet div.odd {
  left: 30%;
}

.standard-snippet div.even {
  left: 13%;
}

.standard-snippet .content {
  width: 100%;
}

.big-snippet {
  border: 3px dashed #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.65);
  position: relative;
}




@media(max-width: 1500px) {
  .about .col-stats {
    background: #000 url('/images/kenrick-mills-OQ9JdFiSc2s-unsplash1366.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .tweets .col-stats {
    background: #000 url('/images/david-troeger-M8xxVih_V_U-unsplash1366.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .index .col-stats {
    background: #000 url('/images/cristian-palmer-lk2XMnkdFiw-unsplash1366.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}

@media(max-width: 1024px) {
  .about .col-stats {
    background: #000 url('/images/kenrick-mills-OQ9JdFiSc2s-unsplash1024.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .tweets .col-stats {
    background: #000 url('/images/david-troeger-M8xxVih_V_U-unsplash1024.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .index .col-stats {
    background: #000 url('/images/cristian-palmer-lk2XMnkdFiw-unsplash1024.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}

@media(max-width: 768px) {
  .about .col-stats {
    background: #000 url('/images/kenrick-mills-OQ9JdFiSc2s-unsplash500.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .tweets .col-stats {
    background: #000 url('/images/david-troeger-M8xxVih_V_U-unsplash500.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .index .col-stats {
    background: #000 url('/images/cristian-palmer-lk2XMnkdFiw-unsplash500.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}